# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.fps_3D.iml
# Datasource local storage ignored files
/../../../../../../../:\github\FPS_3D\fps_3D\.idea\.idea.fps_3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
